{% extends "generics/dashboard_list.html" %}
{% load i18n %}

{% block datatable %}
 <div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Department' %}</th>
                <th>{% trans 'Function' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in object_list %}
                <tr>
                    <td>
                        <a href="{{ o.get_absolute_url }}">{{ o.id }}</a>
                    </td>
                    <td>
                        <a href="{{ o.get_absolute_url }}">{{ o.person.name }}</a>
                    </td>
                    <td>
                        <a href="{{ o.get_absolute_url }}">{{ o.department.name }}</a>
                    </td>
                    <td>
                        <a href="{{ o.get_absolute_url }}">{{ o.function.name }}</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>
 {% endblock %}