{% extends "generics/dashboard_detail.html" %}
{% load i18n %}
{% load bootstrap_form %}

{% block detail %}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-8">
                <h3>{{ object.name }}<small> {{ object.equipment_type }}</small></smalL></h3><br><br>
                {% if object.brand %}<strong>{% trans 'Brand' %}: </strong>{{ object.brand }}<br>{% endif %}
                {% if object.model %}<strong>{% trans 'Model' %}: </strong>{{ object.model }}<br>{% endif %}
                {% if object.registration %}<strong>{% trans 'Registration' %}: </strong>{{ object.registration }}<br>{% endif %}
                {% if object.description %}<strong>{% trans 'Registration' %}: </strong>{{ object.description }}<br>{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}