{% extends "generics/dashboard_list.html" %}
{% load i18n %}
{% block page_content_title %} <h1 class="page-header">{% trans 'People' %} <a href="{% url add_view %}" class="btn pull-right btn-success">{% trans 'New Person' %} </a></h1>{% endblock %}
{% block datatable %}
 <div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Ocupation' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in object_list %}
                <tr>
                    <td attr_name="obj_id">
                        <a href="{{ o.get_absolute_url }}">{{ o.id }}</a>
                    </td>
                    <td attr_name="obj_name">
                        <a href="{{ o.get_absolute_url }}">{{ o.name }}</a>
                    </td>
                    <td>
                        {{ o.get_type_icon|safe}}
                    </td>
                    <td>
                        {{ o.get_ocupation_icon|safe}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 &nbsp;
    <div class="text-right">
            <small>{% trans 'Legend:' %} <span class="fa fa-male text-success"></span> {% trans 'Customer' %} &nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-truck text-danger"></span> {% trans 'Supplier' %}</small>
     </div>
 </div>
 {% endblock %}