{% extends "generics/dashboard_form.html" %}
{% load i18n bootstrap_form %}

{% block extra_header_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/select2.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/select2-bootstrap.min.css">
{% endblock %}

{% block page_content_title %}<h1 class="page-header">{{ page_name|safe }} <small  class="pull-right"  id="title_account_type"><span ></span></small></h1>{% endblock %}

{% block form %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors.0 %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}{{ error }}{% endfor %}
    </div>
    {% endif %}
    <div class="form-inline">
        {% field_as_bootstrap form form.date "inline" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% field_as_bootstrap form form.expiration_date "inline" %}
    </div>
    &nbsp;
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'Cost Center' %}
            <span id="cost_center_value" {% if costcenter_form.account_group.value and costcenter_form.account.value and costcenter_form.subaccount.value and costcenter_form.subaccount_type.value %} class="text-success" {% endif %}>
                <strong>
                    {{ costcenter_form.account_group.value|default:"____"|leading_zeros:4 }}.{{costcenter_form.account.value|default:"____"|leading_zeros:4}}.{{ costcenter_form.subaccount.value|default:"____"|leading_zeros:4}}.{{ costcenter_form.subaccount_type.value|default:"____"|leading_zeros:4 }}
                </strong>
            </span></div>
        <div class="panel-body form-horizontal">
            {% if costcenter_form.non_field_errors.0 %}
            <div class="alert alert-danger">
                {% for error in costcenter_form.non_field_errors %}{{ error }}{% endfor %}
            </div>
            {% endif %}
            {%  field_as_bootstrap costcenter_form costcenter_form.account_group "horizontal" "col-sm-4 col-md-3 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12" %}
            {%  field_as_bootstrap costcenter_form costcenter_form.account "horizontal" "col-sm-4 col-md-3 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12" %}
            {%  field_as_bootstrap costcenter_form costcenter_form.subaccount "horizontal" "col-sm-4 col-md-3 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12" %}
            {%  field_as_bootstrap costcenter_form costcenter_form.subaccount_type "horizontal" "col-sm-4 col-md-3 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12" %}
        </div>
    </div>

    <div class="form-horizontal">
        {%  field_as_bootstrap form form.record "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12" %}
        {%  field_as_bootstrap form form.current_account "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12" %}
        {%  field_as_bootstrap form form.document_type "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12" %}
        {%  field_as_bootstrap form form.document_number "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-3 col-lg-2 col-xs-12" %}
    </div>
    &nbsp;
    <div id="cheque-panel" class="panel panel-default" style="display:none">
        <div class="panel-heading">{% trans "Cheque information" %}</div>
        <div class="panel-body form-horizontal">
            {%  field_as_bootstrap entry_cheque_form entry_cheque_form.cheque_exists "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-5 col-lg-5 col-xs-12" %}
            <div class="cheque_field" style="display:none">
                {%  field_as_bootstrap form form.cheque  "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-5 col-lg-5 col-xs-12" %}
            </div>
            <div class="cheque_form">
                {%  field_as_bootstrap entry_cheque_form entry_cheque_form.cheque_destiny "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-5 col-lg-5 col-xs-12" %}
                {%  field_as_bootstrap entry_cheque_form entry_cheque_form.cheque_person "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-5 col-lg-5 col-xs-12" %}
                {%  field_as_bootstrap entry_cheque_form entry_cheque_form.cheque_expiration_date "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-3 col-lg-3 col-xs-12"%}
                {%  field_as_bootstrap entry_cheque_form entry_cheque_form.cheque_number "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-3 col-lg-2 col-xs-12"%}
                {%  field_as_bootstrap entry_cheque_form entry_cheque_form.cheque_bank "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12"%}
                {%  field_as_bootstrap entry_cheque_form entry_cheque_form.cheque_agency "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-3 col-lg-2 col-xs-12"%}
                {%  field_as_bootstrap entry_cheque_form entry_cheque_form.cheque_current_account "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-3 col-lg-2 col-xs-12"%}
                {%  field_as_bootstrap entry_cheque_form entry_cheque_form.cheque_value "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-3 col-lg-2 col-xs-12"%}
            </div>
        </div>
    </div>
    &nbsp;
    <div class="form-horizontal">
        {%  field_as_bootstrap form form.department "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12"%}
        {%  field_as_bootstrap form form.customer_supplier "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-4 col-xs-12"%}
        {%  field_as_bootstrap form form.value "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-3 col-xs-12"%}
        {%  field_as_bootstrap form form.interest "horizontal" "col-sm-4 col-md-2 col-xs-12 control-label" "col-sm-7 col-md-4 col-lg-3 col-xs-12"%}
    </div>
    &nbsp;
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'Write-off' %} <span id="cost_center_value"></span></div>
        <div class="panel-body writeoff-formset">
            {{ writeoff_formset.management_form }}
            <div class="row">
                <div class="col-md-2 col-xs-6 hidden-xs"><label>{{ writeoff_formset.form.date.label }}</label></div>
                <div class="col-md-2 col-xs-6 hidden-xs"><label>{{ writeoff_formset.form.value.label }}</label></div>
                <div class="col-md-1 col-xs-6 hidden-xs"><label>{{ writeoff_formset.form.is_cheque.label }}</label></div>
                <div class="col-md-1 col-xs-6 hidden-xs"><label class="writeoff-cheque-fields" style="display:none">{{ writeoff_formset.form.cheque_number.label }}</label></div>
                <div class="col-md-2 col-xs-6 hidden-xs"><label class="writeoff-cheque-fields" style="display:none">{{ writeoff_formset.form.cheque_name.label }}</label></div>
                <div class="col-md-2 col-xs-6 hidden-xs"><label class="writeoff-cheque-fields" style="display:none">{{ writeoff_formset.form.cheque_bank.label }}</label></div>
                <div class="col-md-1 col-xs-6 hidden-xs"><label class="writeoff-cheque-fields" style="display:none">{{ writeoff_formset.form.cheque_agency.label }}</label></div>
            </div>
            {% for f in writeoff_formset %}
                {% for hidden in f.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <input id="id_{{ f.prefix }}-{{ f.cheque.name }}" name="{{ f.prefix }}-{{ f.cheque.name }}"
                                type="hidden" value="{{ f.cheque.value|default:"" }}">
                <div class="row form-item">
                    <div class="col-md-2 col-xs-6">
                        {{ f.date|add_class:"form-control input-sm" }}
                    </div>
                    <div class="col-md-2 col-xs-6">
                        {{ f.value|add_class:"writeoff-value form-control input-sm" }}</div>

                    <div class="col-md-1 col-xs-6">
                        {{ f.is_cheque|add_class:"input-sm is-cheque-field" }}</div>

                    <div class="col-md-1 col-xs-6">
                        <input class="{{ f.cheque_number.css_classes }} writeoff-cheque-fields form-control input-sm"
                               placeholder="{% trans "Number" %}" id="id_{{ f.cheque_number.name }}" name="{{ f.prefix }}-{{ f.cheque_number.name }}" type="text" value="{{ f.cheque_number.value|default:"" }}" style="display:none"></div>

                    <div class="col-md-2 col-xs-6">
                        <input class="{{ f.cheque_name.css_classes }} writeoff-cheque-fields form-control input-sm"
                               placeholder="{% trans "Name" %}" id="id_{{ f.cheque_name.name }}" name="{{ f.prefix }}-{{ f.cheque_name.name }}" type="text" value="{{ f.cheque_name.value|default:"" }}" style="display:none"></div>


                    <div class="col-md-2 col-xs-6">
                        <span class="writeoff-cheque-fields" style="display:none">{{ f.cheque_bank|add_class:"form-control input-sm" }}</span>
                    </div>
                    <div class="col-md-1 col-xs-6">
                        <input class="{{ f.cheque_agency.css_classes }} writeoff-cheque-fields form-control input-sm"
                               id="id_{{ f.cheque_agency.name }}" name="{{ f.prefix }}-{{ f.cheque_agency.name }}"
                               placeholder="{% trans "Agency" %}" type="text" value="{{ f.cheque_agency.value|default:"" }}"
                               style="display:none"></div>


                </div>
            {%  endfor %}
            &nbsp;
            <div class="form-group">
                <label class="col-md-1">Balance</label>
                <label id="write-off_balance" class="col-md-4">R$ 0,00</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        {% buttons %}
    </div>
    &nbsp;
</form>

    <!-- CSRF TOKEN -->
    <script>
            function getCookie(name) {
                    var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = $.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                function sameOrigin(url) {
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        !(/^(\/\/|http:|https:).*/.test(url));
                }

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
        </script>


{% endblock %}
{% block extra_footer_scripts %}
    <script src="{{ STATIC_URL }}js/select2.full.min.js"></script>
    <script src="{{ STATIC_URL }}js/select2.pt-BR.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.formset.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.inputmask.bundle.min.js"></script>
    <script type="text/javascript">
        function pad(n, w) {
            var an = Math.abs(n);
            var digitCount = 1 + Math.floor(Math.log(an) / Math.LN10);
            if (digitCount >= w) {
                return n;
            }
            var zeroString = Math.pow(10, w - digitCount).toString().substr(1);
            return n < 0 ? '-' + zeroString + an : zeroString + an;
        };

        function check_cost_center(){
            var values = [];
            var f = true;
            $("#id_account_group, #id_account, #id_subaccount, #id_subaccount_type").each(function(i,e){
                if ($(e).val() != ''){
                    values[i] = pad($(e).val(),4);
                }else{
                    values[i] = '____'
                    f = false;
                }
            })
            if (f) $('#cost_center_value').html('- <strong><span class="text-success">' + values[0]+'.'+values[1]+'.'+values[2]+'.'+values[3]+'</span></strong>');
            else $('#cost_center_value').html("- " + values[0]+'.'+values[1]+'.'+values[2]+'.'+values[3])
        }

        function printDate(date){
            return date.getFullYear()+"-"+pad(date.getMonth()*1+1,2)+"-"+pad(date.getDate()*1, 2);
        }

        Number.prototype.format = function(n, x, s, c) {
            var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
                num = this.toFixed(Math.max(0, ~~n));

            return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
        };

        $(document).ready(function(){
            var today = new Date();

            var id_date = $('#id_date');
            if (id_date.val() == '') {
                id_date.val(printDate(today));
            }
            id_date.focus();

            var selects = $('select');

            var inputs = $('input, select');

            inputs.keypress(function(e){
                if (e.charCode == 13) {
                    var next = $(inputs.get(inputs.index(this) + 1));
                    if (next.get(0).tagName == "SELECT") {
                        next.select2('open');
                    } else {
                        next.focus();
                    }
                }
            });

            selects.next().on('focusin', function(){
                $(this).prev().select2('open');
            });

            selects.on('change', function(){
                if ($(inputs.get(inputs.index(this)+1)).size()>0)
                    $(inputs.get(inputs.index(this)+1)).focus();
                check_cost_center();
            });

            function update_account_type(){
                if ($('#id_account').val())
                    $.get("{% url 'financial_get_account_type' %}", {"account_id": $('#id_account').val()}, function(result){
                            $('#title_account_type').html(result);
                    });
            }
            update_account_type();

            $('#id_account').on('change', function(){
                update_account_type();
            });

            $('.dateinput').inputmask('dd/mm/yyyy');

            function update_balance(){
                var balance = $('#id_value').val().replace('.','').replace(',','.')*1 + $('#id_interest').val().replace('.','').replace(',','.')*1;
                var soma = 0;
                $.each($('.writeoff-value'), function(i,e){
                    console.log($(e).val());
                    soma += $(e).val().replace('.','').replace(',','.')*1;
                });
                balance = soma - balance;
                if (balance >= 0)
                    $('#write-off_balance').html('<span class="text-success"> + R$ ' + balance.format(2,3,'.',',') + '</span>');
                else
                    $('#write-off_balance').html('<span class="text-danger"> - R$ ' + (balance*-1).format(2,3,'.',',') + '</span>');
            }
            update_balance();

            $('#id_value, #id_interest, .writeoff-value').change(function(){
                update_balance();
            });

            $('#id_cheque_exists').click(function(){
                if (this.checked){
                    $('.cheque_field').show();
                    $('.cheque_form').hide();
                }else{
                    $('.cheque_field').hide();
                    $('.cheque_form').show();
                }
            });

            $('.form-item').formset({
                prefix: '{{ writeoff_formset.prefix }}',
                addText:'',
                deleteText:'',
                added:function(){
                    $('.form-item').last().find('.writeoff-cheque-fields').hide();
                }
            });

            $('.add-row').addClass('text-success pull-right fa fa-plus-circle');
            $('.delete-row').addClass('text-danger fa fa-minus-circle');

            $('#id_document_number').change(function(){
                $('#id_cheque_number').val($(this).val());
            });

            $('#id_expiration_date').change(function(){
               $('#id_cheque_expiration_date').val($(this).val());
            });

            var document_type = $('#id_document_type');
            document_type.change(function(){
                if ($(this).val() == 'C'){
                    $('#cheque-panel').show();
                }else{
                    $('#cheque-panel').hide();
                }
            });
            if (document_type.val() == 'C')
                $('#cheque-panel').show();

            function update_cheque_fields(_this){
                $.each(_this, function(i, e){
                    $(e).parent().parent().find('.writeoff-cheque-fields').toggle(e.checked);
                });
                if ($('.is-cheque-field:checked').size() > 0){
                    $('label.writeoff-cheque-fields').show();
                }else{
                    $('label.writeoff-cheque-fields').hide();
                }
            }
            $('.is-cheque-field').click(function(){
                update_cheque_fields($(this));
            });
            update_cheque_fields($('.is-cheque-field'))


            $('form').submit(function(){
                debugger;
                if (document_type.val() != 'C'){
                    $('#cheque-panel').remove();
                }
            });
        });
    </script>
{% endblock %}

