{% extends "generics/dashboard_list.html" %}
{% load i18n %}

{% block selection_actions %}
    <div class="row">
        <div class="col-lg-12">
            <div id="group-multiple-selection" class="btn-group pull-right disabled">
              <button type="button" id="multiple-selection-action" class="btn btn-info dropdown-toggle" aria-expanded="false" disabled data-toggle="dropdown">{% trans 'Multiple selection action' %}
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a id="remove" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans 'Remove' %}</a></li>
                <li class="divider"></li>
                <li><a id="update-status" href="#"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> {% trans 'Update Status' %}</a></li>
              </ul>
            </div>
        </div>
    </div>
{%  endblock %}

{% block extra_footer_scripts %}
    <script type="text/javascript">
        $('#remove').click(function(){
            objs = [];
            $('tr.selected').each(function(i,e){
                objs.push({
                    'id': $.trim($(e).find('td[attr_name="obj_id"]').first().text()),
                    'name': $.trim($(e).find('td[attr_name="obj_name"]').first().text())
                });
            });
            console.log(objs);
            if (objs.length > 0){
                var name = [];
                for (var i=0; i < erase_objs.length; i++) name.push(erase_objs[i].name);
                var message = "{% trans 'Do you really want to delete:' %} " + name.join(', ')+"?"
                $('#remove-confirm-message').text(message);
                $('#remove-prompt').modal();
            }
        });

        $('#remove-confirm').click(function(){
            var ids = [];
            for (var i = 0; i < erase_objs.length; i++) ids.push(erase_objs[i].id);
            $.ajax({
                url: '{% url list_view %}',
                type: 'delete',
                data: JSON.stringify({'ids': ids}),
                success: function(data){
                    $('#remove-prompt').modal('hide');
                    Dashboard.show_message("{% trans 'Deleting...' %}", 'warning');
                    window.location = '{% url list_view %}';
                },error: function(){
                    $('#remove-prompt').modal('hide');
                    Dashboard.show_message("{% trans 'Some error occurred.' %}", 'danger');
                }
            })
        });
    </script>
{% endblock %}