{% extends "generics/dashboard_form.html" %}
{% load i18n bootstrap_form %}

{% block extra_header_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/select2.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/select2-bootstrap.min.css">
{% endblock %}

{% block page_content_title %}<h1 class="page-header">{{ page_name|safe }} <small  class="pull-right"  id="title_account_type"><span ></span></small></h1>{% endblock %}

{% block form %}
<form class="form-horizontal" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label class="col-sm-1 col-md-1" for="id_{{ form.date.name }}">{{form.date.label}}</label>
        <div class="col-sm-4 col-md-3 col-lg-2">
            {{ form.date|add_class:"form-control input-sm" }}
        </div>
        <label class="col-sm-3 col-md-offset-3 col-md-2" for="id_{{ form.date.name }}">{{form.expiration_date.label}}</label>
        <div class="col-sm-4 col-md-3 col-lg-2">
            {{ form.expiration_date|add_class:"form-control input-sm" }}
        </div>
    </div>
    &nbsp;
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'Cost Center' %} <span id="cost_center_value"></span></div>
        <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-4 col-md-3 col-xs-12 control-label">{{costcenter_form.account_group.label}}</label>
            <div class="col-sm-7 col-md-4 col-lg-4 col-xs-12">{{ costcenter_form.account_group|add_class:"form-control input-sm" }}</div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-md-3 col-xs-12 control-label">{{costcenter_form.account.label}}</label>
            <div class="col-sm-7 col-md-4 col-lg-4 col-xs0-12">{{ costcenter_form.account|add_class:"form-control input-sm" }}</div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-md-3  col-xs-12 control-label">{{costcenter_form.subaccount.label}}</label>
            <div class="col-sm-7 col-md-4 col-lg-4 col-xs-12">{{ costcenter_form.subaccount|add_class:"form-control input-sm" }}</div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-md-3  col-xs-12 control-label">{{costcenter_form.subaccount_type.label}}</label>
            <div class="col-sm-7 col-md-4 col-lg-4 col-xs-12">{{ costcenter_form.subaccount_type|add_class:"form-control input-sm" }}</div>
        </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="id_{{ form.record.name }}">{{form.record.label}}</label>
        <div class="col-md-3 col-lg-5">
            {{ form.record|add_class:"form-control input-sm" }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="id_{{ form.document_type.name }}">{{form.document_type.label}}</label>
        <div class="col-md-3 col-lg-2">
            {{ form.document_type|add_class:"form-control input-sm" }}
        </div>&nbsp;
        <label class="col-md-3 control-label" for="id_{{ form.document_number.name }}">{{form.document_number.label}}</label>
        <div class="col-md-3 col-lg-2">
            {{ form.document_number|add_class:"form-control input-sm" }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="id_{{ form.department.name }}">{{form.department.label}}</label>
        <div class="col-md-3 col-lg-2">
            {{ form.department|add_class:"form-control input-sm" }}
        </div>

    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="id_{{ form.client_supplier.name }}">{{form.client_supplier.label}}</label>
        <div class="col-md-5 col-lg-5">
            {{ form.client_supplier|add_class:"form-control input-sm" }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="id_{{ form.value.name }}">{{form.value.label}}</label>
        <div class="col-md-3 col-lg-2">
            {{ form.value|add_class:"form-control input-sm" }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'Write-off' %} <span id="cost_center_value"></span></div>
        <div class="panel-body writeoff-formset">
            {{ writeoff_formset.management_form }}
            <div class="row">
                <div class="col-md-2"><label>{{ writeoff_formset.form.date.label }}</label></div>
                <div class="col-md-2"><label>{{ writeoff_formset.form.value.label }}</label></div>
                <div class="col-md-2"><label>{{ writeoff_formset.form.third_party.label }}</label></div>
                <div class="col-md-3"><label>{{ writeoff_formset.form.third_party_bank.label }}</label></div>
                <div class="col-md-2"><label>{{ writeoff_formset.form.third_party_agency.label }}</label></div>
            </div>
            {% for f in writeoff_formset %}
                <div class="row form-item">
                    <div class="col-md-2">{{ f.date|add_class:"dateinput form-control input-sm" }}</div>
                    <div class="col-md-2">{{ f.value|add_class:"form-control input-sm" }}</div>
                    <div class="col-md-2">{{ f.third_party|add_class:"form-control input-sm" }}</div>
                    <div class="col-md-3">{{ f.third_party_bank|add_class:"form-control input-sm" }}</div>
                    <div class="col-md-2">{{ f.third_party_agency|add_class:"form-control input-sm" }}</div>
                </div>
            {%  endfor %}
            &nbsp;
            <div class="form-group">
                <label class="col-md-1">Balance</label>
                <label id="write-off balance" class="col-md-4">R$ 0,00</label>
            </div>
        </div>
    </div>


</form>

    <!-- CSRF TOKEN -->
    <script>
            function getCookie(name) {
                    var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = $.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                function sameOrigin(url) {
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        !(/^(\/\/|http:|https:).*/.test(url));
                }

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
        </script>


{% endblock %}
{% block extra_footer_scripts %}
    <script src="{{ STATIC_URL }}js/select2.full.min.js"></script>
    <script src="{{ STATIC_URL }}js/select2.pt-BR.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.formset.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.inputmask.bundle.min.js"></script>
    <script type="text/javascript">
        function pad(n, w) {
            var an = Math.abs(n);
            var digitCount = 1 + Math.floor(Math.log(an) / Math.LN10);
            if (digitCount >= w) {
                return n;
            }
            var zeroString = Math.pow(10, w - digitCount).toString().substr(1);
            return n < 0 ? '-' + zeroString + an : zeroString + an;
        };

        function check_cost_center(){
            var values = [];
            var f = true;
            $("#id_account_group, #id_account, #id_subaccount, #id_subaccount_type").each(function(i,e){
                if ($(e).val() != ''){
                    values[i] = pad($(e).val(),4);
                }else{
                    values[i] = '____'
                    f = false;
                }
            })
            if (f) $('#cost_center_value').html('- <strong><span class="text-success">' + values[0]+'.'+values[1]+'.'+values[2]+'.'+values[3]+'</span></strong>');
            else $('#cost_center_value').html("- " + values[0]+'.'+values[1]+'.'+values[2]+'.'+values[3])
        }

        function printDate(date){
            return pad(date.getDate()*1, 2)+"/"+pad(date.getMonth()*1+1,2)+"/"+date.getFullYear();
        }

        $(document).ready(function(){
            var today = new Date();
            $('#id_date').val(printDate(today));

            var selects = $('select');
            var inputs = $('input, select');

            $('input, select').keypress(function(e){
                if (e.charCode == 13) {
                    var next = $(inputs.get(inputs.index(this) + 1));
                    if (next.get(0).tagName == "SELECT") {
                        next.select2('open');
                    } else {
                        next.focus();
                    }
                }
            });

            selects.next().on('focusin', function(){
                $(this).prev().select2('open');
            });

            selects.on('change', function(){
                if ($(selects.get(selects.index(this)+1)).size()>0)
                    $(selects.get(selects.index(this)+1)).select2('open');
                check_cost_center();
            });

            /*selects.on('select2:close', function(){
                $(selects.get(selects.index(this)+1)).select2('open');
            })*/


            $('#id_account').on('change', function(){
                $.get("{% url 'financial_get_account_type' %}", {"account_id": $(this).val()}, function(result){
                        $('#title_account_type').html(result);
                });
            });

            $('.dateinput').inputmask('dd/mm/yyyy');

            $('#id_date').focus();
            $('.form-item').formset({
                prefix: '{{ writeoff_formset.prefix }}',
                addText:'',
                deleteText:''
            });

            $('.add-row').addClass('text-success fa fa-plus-circle');
            $('.delete-row').addClass('text-danger fa fa-minus-circle');

        });
    </script>
{% endblock %}

